{% extends "base.html" %}
{% load static %}

{% block title %}
    Menu
{% endblock %}

{% block content %}
<h2 class="kitchen_list">Browse Kitchen Available</h2>

{% for dish in dish_list %}
<div class="responsive">
  <div class="gallery">
    <a href="{% url 'kitchen:dish_details' dish.kitchen.id dish.id %}">
      <img src="{{ dish.image.url }}" alt="dish">
    </a>
  </div>
  <a href="{% url 'kitchen:dish_details' dish.kitchen.id dish.id %}" style="text-decoration:none;">
    <div class="name">{{ dish.name }}</div>
    </a>
  <div class="desc">{{ dish.description }}</div>
</div>
{% endfor %}

<div class="clearfix"></div>
{% endblock %}