{% extends "base.html" %}

{% block title %}
    Dish
{% endblock %}

{% block content %}

<div class="kitchen_image">
    <img src="{{ dish.image.url }}" />
</div>

<div class="user_auth" >
{% if request.user == kitchen.user %}
    <a href="{% url 'kitchen:dish_update' kitchen.id dish.id %}">Edit dish info</a><br><br>
    <a href="{% url 'kitchen:dish_update' kitchen.id dish.id %}">Remove dish</a>
{% endif %}
</div>

<div class="kitchen_info">

<h2>{{ dish.name }}</h2><br>
<p>Veg: {{ dish.veg }}</p>
<p>Description: <br>{{ dish.description|linebreaksbr }}</p>
<p>Price: ${{ dish.price }}</p>
<p>Served by
    <a href="{% url 'kitchen:kitchen_details' kitchen.id %}" style="text-decoration:none;">
        {{ kitchen.name }}
    </a>
</p>

<form action="{% url 'cart:cart_add' dish.id %}" method="post">
    {{ cart_add_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>

</div>

{% endblock %}

{% block footer %}

{% endblock %}
