{% extends "base.html" %}

{% block title %}
    Kitchen
{% endblock %}

{% block content %}

<div class="kitchen_image">
    <img src="{{ kitchen.image.url }}" />
</div>

<div class="user_auth" >
{% if request.user == kitchen.user %}
    <a href="{% url 'kitchen:kitchen_update' kitchen.id %}">Edit kitchen info</a><br><br>
    <a href="{% url 'kitchen:kitchen_remove' kitchen.id %}">Remove kitchen</a><br><br>
    <a href="{% url 'kitchen:dish_new' kitchen.id %}">Add dishes</a>
{% endif %}
</div>

<div class="kitchen_info">
<h2>
    {{ kitchen.name }}
</h2>

<p>Working Days: <br>
{% if kitchen.days.Monday == 1 %}
Mon {% endif %}
{% if kitchen.days.Tuesday == 1 %}
Tue {% endif %}
{% if kitchen.days.Wednesday == 1 %}
Wed {% endif %}
{% if kitchen.days.Thursday == 1 %}
Thur {% endif %}
{% if kitchen.days.Friday == 1 %}
Fri {% endif %}
{% if kitchen.days.Saturday == 1 %}
Sat {% endif %}
{% if kitchen.days.Sunday == 1 %}
Sun {% endif %}
</p>
<p>
    Working Time:<br>
    {{ kitchen.start_time }} - {{ kitchen.end_time }}
</p>
<h2>
<a href="{% url 'kitchen:dish_list' kitchen.id %}">Go To Menu</a>
</h2>
</div>
{% endblock %}
{% block footer %}

{% endblock %}
