.shopping-cart {
  width: 90%;
  height: 100%;
  margin: 20px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.title {
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 60px;
  color: #5E6977;
  font-size: 24px;
  font-weight: 600;
}
.title a {
  float: right;
  width: 150px;
  font-size: 16px;
  font-weight: 300;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.image{
  width: 180px;
  margin-right: 60px;
}
.image img{
  height: 90px;
}


.description {
  width: 120px;
  padding-top: 20px;
  margin-right: 60px;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.price {
  width: 100px;
  padding-top: 20px;
  margin-right: 60px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
}

.total-price {
  width: 100px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.total {
    background:#f2f2f2;
    color:black;
    font-size:20px;
}
.total span {
    float: right;
    margin-right:10px;
}

a {
    text-decoration:none;
    color:#5993bb;
}

a:hover {
    color:#77b6e2;
}

a.button {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

.button-checkout {
    text-decoration:none;
    float: right;
    margin-right: 60px;
    color:white;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:20px;
    cursor: pointer;
    border:0;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .price,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
}


.row {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
  margin-right: 10px;
}


.col-75 {
  -ms-flex: 75%;
  flex: 70%;
}

.col-25,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}


input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #5993bb !important;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 25px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

.add_kitchen {
    width: 400px;
    margin: 0 auto;
    background: white;
    padding: 10px 20px;
}
.add_kitchen_title {
    text-align:center;
    margin: 10px 0;
}

div.gallery {
  width:300px;
  height:200px;
  text-align: center;
  vertical-align: middle;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  max-width: 100%;
  max-height: 100%;
}

div.name {
  padding: 5px;
  text-align: center;
  font-size:25px;
}

div.desc {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.kitchen_list {
  text-align:center;
  margin:20px 0;
}

.kitchen_image {
  position:absolute;
  width: 60%;
  height: 100%;
  margin-left: 20%;
}
  .kitchen_image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
  max-height:100%
}

.kitchen_info {
  width:20%;
  margin:20px 50px;
  font-size:16px;
}

.user_auth {
  float:right;
  margin:20px 50px;
  font-size:18px;
}

.content-section,
.order_detail,
.order_list,
.thanks {
  margin: 20px 50px;
}

.helptext,
.errorlist {
  display:none;
}

.media img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px 20px;
}

.media-body {
  margin:30px 50px;
}

.update_profile {
  margin-top:50px;
}