{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="content-section">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
  <div class="media">
    <img class="rounded-circle account-img"
         src="{% if profile.image %}{{ profile.image.url }}
         {% else %} {%static 'img/default.jpg'%}
         {% endif %}">

    <div class="media-body">
      <h2 class="account-heading"> Welcome to your profile  {{user.username}}</h2>
      <p class="text-secondary">{{user.email}}</p>
    </div>
  </div>
  <!-- FORM HERE -->
       <form method="POST" enctype="multipart/form-data" class="update_profile">
            {% csrf_token %}
                {{ u_form.as_p}}
                {{ p_form.as_p}}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Update</button>
            </div>
        </form>
</div>

{% endblock content %}